* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-1 {
    background-image: url("./../assets/background.jpg")
}

h2 {
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    min-width: 300px;
    min-height: 350px;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.297);
    backdrop-filter: blur(5px);
    border: 1px solid #f2f2f23b;
    border-radius: 10px;
    transform: translatex(100px);
    opacity: 0;
    animation-name: slide;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition: .6s ease;
}
.box:hover {
    box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.297)
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    height: 40px;
    color: rgb(73, 73, 73);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    transition: .6s ease;
}

.input input:focus {
    outline: none;
    padding: 5px;
}

#user-input {
    margin-bottom: 15px;
}

.input #forgot-password {
    width: 140px;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
}

.input input::placeholder {
    padding: 15px;
    color: rgba(163, 163, 163, 0.248);
}

#login-button {
    height: 30px;
    margin: 16px;
    background-color: #003465;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s ease;
}
#login-button:hover {
    box-shadow: 0px 0px 8px 3px rgba(40, 87, 173, 0.632);
}

#login-button:active {
    background-color: #013a70;
}

.login-buttons {
    display: flex;
    justify-content: space-around;
}

.login-buttons button {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.login-buttons button i {
    font-size: 20px;
}

.login-buttons button:active {
    background-color: rgb(213, 213, 213);
}

.create-account-text {
    display: flex;
    justify-content: center;
}

.create-account-text span,
a {
    font-size: 13px;
    padding: 3px;
}

@keyframes slide {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 600px) {
    section {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .image-1 {
        background-image: url("./../assets/background.jpg")
    }

    h2 {
        text-align: center;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .box {
        display: flex;
        min-width: 300px;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.297);
        backdrop-filter: blur(5px);
        border: 1px solid #f2f2f23b;
        border-radius: 10px;
        transform: translatex(100px);
        opacity: 0;
        animation-name: slide;
        animation-timing-function: ease;
        animation-duration: .5s;
        animation-fill-mode: forwards
    }

    .input {
        display: flex;
        flex-direction: column;
    }

    .input input {
        height: 40px;
        color: rgb(73, 73, 73);
        border: 1px solid rgb(160, 160, 160);
        border-radius: 10px;
    }

    .input input:focus {
        outline: none;
        padding: 5px;
    }

    #user-input {
        margin-bottom: 15px;
    }

    .input #forgot-password {
        width: 140px;
        font-size: 14px;
        padding: 5px;
        text-decoration: none;
    }

    .input input::placeholder {
        padding: 15px;
        color: rgba(163, 163, 163, 0.248);
    }

    #login-button {
        height: 30px;
        background-color: #003465;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #login-button:active {
        background-color: #013a70;
    }

    .login-buttons {
        display: flex;
        justify-content: space-around;
    }

    .login-buttons button {
        width: 60px;
        height: 30px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .login-buttons button i {
        font-size: 20px;
    }

    .login-buttons button:active {
        background-color: rgb(213, 213, 213);
    }

    .create-account-text {
        display: flex;
        justify-content: center;
    }

    .create-account-text span,
    a {
        font-size: 13px;
        padding: 3px;
    }

    @keyframes slide {
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}